page-acronyms {
  ion-list {
    max-width: 768px;
    margin: auto !important;
  }

  @media (min-width: 768px) {
    ion-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (min-width: 1024px) {
    ion-list {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
