<!--
  Generated template for the ObjectiveDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar [color]="domainTitle">
    <ion-title>{{objective.sectionNumber}} {{ domainTitle }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="Objective-detail">
    <span [ngStyle]="{'background-color': color}" class="Objective-detail__number">{{ objective.sectionNumber }}</span>
    <p class="Objective-detail__title">{{ objective.title }}</p>
  </div>
  <div class="Objective-detail__bullets">
    <ion-item-group *ngFor="let bullet of bullets.bullets">
      <ion-item-divider color="light">
        <div class="bullet-title">
          {{ bullet.title}}
        </div>
      </ion-item-divider>
      <ion-item no-lines *ngFor="let subBullet of bullet.subBullets">- {{subBullet}}</ion-item>
    </ion-item-group>
  </div>
</ion-content>

<ion-footer>

  <ion-toolbar [color]="domainTitle">
    <ion-buttons padding>
      <button navPop ion-button>
        <div>
          <ion-icon name="list"></ion-icon><br>
          <label>Sections</label>
        </div>
      </button>
      <button (click)="onHomeClick()" ion-button>
        <div>
          <ion-icon name="home"></ion-icon><br>
          <label>Home</label>
        </div>
      </button>
      <button (click)="onResourcesClick()" ion-button>
        <div>
          <ion-icon name="logo-youtube"></ion-icon><br>
          <label>Resources</label>
        </div>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-footer>

